<!-- Full Page Image Header Area -->
<div id="top" class="header">
	<a href="#top"><%= image_tag "innova.png", :class =>"innova-logo" %></a>
    <div class=" vert-text"> 
        <h1>INNOVA IT</h1>
		<h2>WE<br> BUILD <span>|</span> CREATE <span>|</span> UNITE</h2>
		<a href="#contact" class="btn btn-default btn-lg">Contact Us</a>
    </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="intro" class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>We Use The Latest Technologies To Create Custom Software Solutions</h2>
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.<br><br>
            	<a href="mailto:#">Send us an email</a></p>
            </div>
        </div>
    </div>
</div>
<!-- /Intro -->

<!-- Services -->
<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <h2>Our Services</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-connectdevelop"></i>
                    <h4>End-to-End Solutions</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-server"></i>
                    <h4>Web Hosting</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-code"></i>
                    <h4>Custom Website Dev</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-laptop"></i>
                    <h4>Full-Stack Web App</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Services -->

<!-- Callout -->
<div class="callout">
    <div class="vert-text">
        <h1>Innovative Technology</h1>
        <p class="text-capitalize">We Work Hard To Deliver A High Quality Service. Our Aim Is Your Complete Satisfaction.</p>
    </div>
</div>
<!-- /Callout -->

<!-- ========== ABOUT - GREY SECTION ========== -->
<section id="about" name="about"></section>
<div id="g">
	<div class="container-fluid">
		<div class="row">
			<center>
				<h3>ABOUT US</h3>
				<br>
				<br>
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lectus elit, tincidunt nec turpis sed, accumsan iaculis ipsum. Nulla at augue auctor, tristique erat in, ultricies nunc. Mauris eget metus leo. Ut in mi lacinia, mattis nisl non, ultrices risus. Vestibulum aliquet aliquam ipsum ut ullamcorper. Pellentesque fringilla, massa vel rutrum consequat, nulla velit fermentum dolor, sed scelerisque.</p>
				<br>
				<br>
				</div>
				<div class="col-lg-3"></div>
			</center>
			<div class="col-lg-1">
			</div>
			<div class="col-lg-2 team zoom-shadow">
				<%= image_tag "dp-team01.jpg", :class =>"style_image" %>
				<h4>Ciaran<br>O'Brien</h4>
				<h5><i>Product Manager</i></h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>
					<a href="index.html#"><i class="icon-facebook"></i></a>
					<a href="index.html#"><i class="icon-twitter"></i></a>
					<a href="index.html#"><i class="icon-envelope"></i></a>
				</p>
			</div>

			<div class="col-lg-2 team zoom-shadow">
				<%= image_tag "dp-team02.jpg", :class =>"style_image" %>
				<h4>Ofentse<br>Phukuile</h4>
				<h5><i>Front-end Developer</i></h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>
					<a href="index.html#"><i class="icon-facebook"></i></a>
					<a href="index.html#"><i class="icon-twitter"></i></a>
					<a href="index.html#"><i class="icon-envelope"></i></a>

				</p>
			</div>

			<div class="col-lg-2 team zoom-shadow">
				<%= image_tag "dp-team03.jpg", :class =>"style_image" %>
				<h4>Lebogang<br>Mokaila</h4>
				<h5><i>Web Designer</i></h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>
					<a href="index.html#"><i class="icon-facebook"></i></a>
					<a href="index.html#"><i class="icon-twitter"></i></a>
					<a href="index.html#"><i class="icon-envelope"></i></a>

				</p>
			</div>

			<div class="col-lg-2 team zoom-shadow">
				<%= image_tag "dp-team04.jpg", :class =>"style_image" %>
				<h4>Panashe Mukonoweshuro</h4>
				<h5><i>Back-end Guru</i></h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>
					<a href="index.html#"><i class="icon-facebook"></i></a>
					<a href="index.html#"><i class="icon-twitter"></i></a>
					<a href="index.html#"><i class="icon-envelope"></i></a>

				</p>
			</div>

			<div class="col-lg-2 team zoom-shadow">
				<%= image_tag "dp-team05.jpg", :class =>"style_image" %>
				<h4>Musawenkhosi Mdluli</h4>
				<h5><i>Full Stack Developer</i></h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<p>
					<a href="index.html#"><i class="icon-facebook"></i></a>
					<a href="index.html#"><i class="icon-twitter"></i></a>
					<a href="index.html#"><i class="icon-envelope"></i></a>

				</p>
			</div>
			<div class="col-lg-1">
			</div>
		</div>
	</div><!-- /container -->
</div><!-- /g -->

<section id="contact"></section>
<div class="container-fluid">
	<div class="row connected">
		<div class="col-lg-11 offset-lg-1">
			<h1>Stay Connected</h1>
			<p>Join us on our social networks for all the latest updates, product/service announcements and more.</p>
			<br>
		</div><!-- col-lg-12 -->
	</div><!-- row -->
</div><!-- container -->

<!-- Social FOOTER --->
<div id="sf">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 dg">
				<h4 class="ml">FACEBOOK</h4>
				<p class="centered"><a href="#"><i class="fa fa-facebook"></i></a></p>
			</div>
			<div class="col-lg-4 lg">
				<h4 class="ml">TWITTER</h4>
				<p class="centered"><a href="#"><i class="fa fa-twitter"></i></a></p>
			</div>
			<div class="col-lg-4 dg">
				<h4 class="ml">LINKED IN</h4>
				<p class="centered"><a href="#"><i class="fa fa-linkedin"></i></a></p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- Social Footer -->

<!-- CONTACT FOOTER --->
<div id="cf">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8">
	        	<div id="mapwrap">
					<iframe height="400" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=6&amp;output=embed"></iframe>
				</div>	
			</div><!--col-lg-8-->
			<div class="col-lg-4">
				<h4>ADDRESS<br/>InnovaIT - Head Office</h4>
				<br>
				<p>
					13 Shilote Street, Pretoria,<br/>
					Atterigdeville, Gauteng.
				</p>
				<p>
					P: +27 XX-XXX-XXXX<br/>
					F: +27 XX-XXX-XXXX<br/>
					E: <a href="mailto:#">info@innovait.co.za</a>
				</p>
				<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
			</div><!--col-lg-4-->
			<div class="col-md-12 c">
				<p class="text-center">Copyright &copy; InnovaIT 2018</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- Contact Footer -->