<!DOCTYPE html>
<html>
  <head>
    <title>Innovait</title>
    <%= csrf_meta_tags %>
	
	<%= favicon_link_tag asset_path('innova.png'), :rel => 'icon', :type =>  'image/png' %>
	
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- stylish stylesheets -->
    
    <!-- /stylish stylesheets -->

    <!-- onassis stylesheets -->
    <%= stylesheet_link_tag    'font-awesome.min.css' %>
    <%= stylesheet_link_tag    'main.css' %>
    <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' %>
    <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Raleway:400,300,700' %>
    <!-- /onassis stylesheets -->
    <!-- onassis javascripts -->
    	<%= javascript_include_tag 'Chart.js' %>
    <!-- /onassis javascripts -->
  </head>

  <body>

  		<!-- Menu -->
		<nav class="menu" id="theMenu">
			<div class="menu-wrap">
				<h1 class="logo"><a href="#top">Innova</a></h1>
				<i class="icon-remove menu-close"></i>
				<a href="#top" class="smoothScroll">Home</a>
				<a href="#intro" class="smoothScroll">Services</a>
				<!-- <a href="#" class="smoothScroll">Portfolio</a> -->
				<a href="#about" class="smoothScroll">About</a>
				<a href="#contact" class="smoothScroll">Contact</a>
				<a href="#"><i class="icon-facebook"></i></a>
				<a href="#"><i class="icon-twitter"></i></a>
				<a href="#"><i class="icon-linkedin"></i></a>
				<a href="#"><i class="icon-envelope"></i></a>
			</div>
			
			<!-- Menu button -->
			<div id="menuToggle"><i class="icon-reorder"></i></div>
		</nav>

  		<%= yield %>

  		<!-- stylish javascripts -->
    	<%= javascript_include_tag 'jquery-1.10.2.js' %>
    	<!-- end stylish javascripts -->

  		<!-- onassis javascripts -->
    	<%= javascript_include_tag 'classie.js' %>
    	<%= javascript_include_tag 'bootstrap.min.js' %>
    	<%= javascript_include_tag 'smoothscroll.js' %>
    	<%= javascript_include_tag 'main.js' %>
    <!-- end onassis javascripts -->

    <!-- Custom JavaScript for Smooth Scrolling -->
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
  </body>
</html>
